.md-content {
  max-width: 900px;
}

.md-typeset p {
  margin: 0.2em 0;
}

.md-typeset h2 {
  margin-top: 0.1em;
}

.md-typeset {
  font-size: 0.7rem;
  line-height: 1.;
  font-family:
    "Microsoft YaHei",
    "PingFang SC",
    "Noto Sans CJK SC",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.news-box {
  background: #8f8f8f;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.md-typeset .admonition.note {
  border-left: 2px solid #b8b8b8;
  background-color: #f5f5f5;
  font-size: 0.75rem;
}

.news-section + ul {
  border-left: 3px solid #97baf6;
  padding-left: 1em;
}

.hero {
  width: 100%;
  height: 220px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}